{% include "header.html" %}
  <h1>Past Orders</h1>
  <table>
    <tr>
      <th width="100px">Code</th>
      <th width="150px">Name</th>
      <th width="100px">Quantity</th>
      <th>Subtotal</th>
    </tr>
      {% for pastorder in pastorder_list %}
        <tr>
          <td>{{ pastorder["code"] }}</td>
          <td>{{ pastorder["name"] }}</td>
          <td>{{ pastorder["qty"] }}</td>
          <td>{{ pastorder["subtotal"] }}</td>
        </tr>
        {% endfor %}
  </table>
{% include "footer.html" %}
